:root{
    --heading-font: 'Akshar', sans-serif;
  --paragraph-font: 'Rubik', sans-serif;
}
h1,h2,h3,h4{
    font-family: var(--heading-font);
}
p{
    font-family: var(--paragraph-font);
}
img{
    border: solid 5px;
    border-color: #fc6029;
    margin: 20px;
}
.source{
    font-size: .8em;
}
.logo{
    height: 10%; width: 10%;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h1{
    text-decoration: underline;
    text-align: center;
    font-size: 4em;
}
#hero-msg h4{
    text-align: center;
    font-size: 2em;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
}
body{
    background-color: #fed4c8;
    
}
header{
    background-color: #fc6029;
    font-family: var(--heading-font);
}
nav a{
    text-align: center;
    color: #f6eee9;
    text-decoration: none;
    padding: 35px;
    font-size: 1.5em;
    
}
nav a:hover{
    background-color: #f6eee9;
    color: #010101;
}
.book,.join{
    background-color: #fc6029;
    color: #010101;
    text-decoration: none;
    font-size: 2em;
    font-family: var(--heading-font);
    border-radius: 10%;
    padding: 15px 30px;
    margin-top: 50px;
}
.book:hover,.join:hover{
    background-color: #fc6029;
    color: #010101;
}
#background{
    background-color: #de8a68;
}
.msg{
    background-color: #de8a68;
    padding-bottom: 20px;
}
.icon{
    width: 80px;
    border: none;
}
#hero-img{
    width: 97%;
    border: none;
}
footer{
    font-family: var(--heading-font);
}
footer h3 a{
    text-decoration: none;
}
footer h3 a:hover{
    text-decoration: underline;
}
.social a img{
    border: none;
}