:root {
    --primary-color: #55df77   ;
    --secondary-color: #060606 ;
    --accent1-color: #909090;
    --accent2-color: #f5f5f5;
  
    --heading-font:'Kdam Thmor Pro', sans-serif;
    --paragraph-font:'Roboto', sans-serif;
  
    --headline-color-on-white: #55df77;
    --headline-color-on-color: #55df77;
    --paragraph-color-on-white: #060606;
    --paragraph-color-on-color: #060606;
    --paragraph-background-color: #909090;

    --nav-link-color: #060606;
    --nav-background-color: #55df77;
    --nav-hover-link-color: #060606;
    --nav-hover-background-color: #909090; 
}

#hero{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #55df77;
    font-family: var(--heading-font);
    grid-row: 2/3;
    z-index: 2;
    padding: -50px;
}

#hero-img{
    width: 100%;
    border: none;
    grid-row: 1/-1;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-evenly;
}
nav a{
    text-align: center;
    color: #060606;
    text-decoration: none;
    padding: 35px;
    font-size: 1.5em;
        
}
    
nav a:hover{
    background-color: #909090;
    color: #060606;
}

.logo{
    margin: 10px;
    height: 55%
}



footer{
    font-family: var(--heading-font);
    background-color: #909090;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer, h3{
    font-size: .95em;
}

.link{
    background-color: #55df77;
    color: #060606;
    padding: 5px;
    text-decoration: none;
}

