:root {
    --primary-color: #55df77   ;
    --secondary-color: #060606 ;
    --accent1-color: #909090;
    --accent2-color: #f5f5f5;
  
    --heading-font:'Kdam Thmor Pro', sans-serif;
    --paragraph-font:'Roboto', sans-serif;
  
    --headline-color-on-white: #55df77;
    --headline-color-on-color: #55df77;
    --paragraph-color-on-white: #060606;
    --paragraph-color-on-color: #060606;
    --paragraph-background-color: #909090;

    --nav-link-color: #060606;
    --nav-background-color: #55df77;
    --nav-hover-link-color: #060606;
    --nav-hover-background-color: #909090; 
}

body{
    background-color: rgb(227, 222, 215);
}

#hero{
    display: grid;
    grid-template-rows: 1fr 50px;
}

header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #55df77;
    font-family: var(--heading-font);
    z-index: 2;
}

#hero-img{
    width: 100%;
    border: none;
    grid-row: 1/-1;
    z-index: 1;
}

.home-title{
    text-align: center;
    text-decoration: underline 3px;
    font-size: 2.5em;
}

.msg{
    border: solid #010101;
    text-align: center;
    font-size: 1.5em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    padding: 25px 5px 25px 15px;
    background-color: #acacac;
    box-shadow: 5px 5px 10px #767676;
}

.msg h2{
    text-decoration: underline 2px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}
nav a{
    text-align: center;
    color: #060606;
    text-decoration: none;
    padding-top: 45px;
    font-size: 1.5em;
        
}
    
nav a:hover{
    background-color: #909090;
    color: #060606;
}

.logo{
    margin: 10px;
    height: 55%
}



footer{
    font-family: var(--heading-font);
    background-color: #909090;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer, h3{
    font-size: .95em;
}

.link{
    background-color: #55df77;
    color: #060606;
    padding: 5px;
    text-decoration: none;
}

form {
    margin: 25px auto;
    width: 400px;
    padding: 1em;
    border: 3px solid #010101;
    background-color: #72cc89;
    box-shadow: 5px 5px 10px #767676;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #010101;
  }
  
  input:focus,
  textarea:focus {
    border-color: #010101;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  }
  
  .button {
    padding-left: 90px;
  }
  
  button {
    margin-left: .5em;
  }

  #feedback {
    background-color: #acacac;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none;       
}

.feedback-msg{
    border: solid #010101;
    width: 45%;
    text-align: center;
    font-size: 1.5em;
    margin: 0 auto;
    background-color: #acacac;
    box-shadow: 5px 5px 10px #767676;
}
.moveDown {
    margin-top: 3em;
}

.box{
    display: grid;
    justify-items: center;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 75%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
  }

.panel {
    padding: 0 18px;
    width: 75%;
    background-color: white;
    display: none;
    overflow: hidden;
}

.rates{
    font-weight: bold;
}
