body
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50% 50%;
    
}

.gray
{
    grid-column: 2/3;
    z-index: 1;
    background-color: gray;
    grid-row: 1/-1;
}
 h2{
     color: darkred;
     z-index: 2;
     grid-column: 2/3;
     grid-row: 2/3;
     text-align: center;
     letter-spacing: 15px;
     font-size: 5em;
 }
 h1{
     
     z-index: 2;
     grid-column: 1/-1;
     grid-row: 1/2;
     width: 100%;
     height: 50%;
     font-size: 200px;
     text-align: center;
     letter-spacing: 15px;
     transform: scaleY(.8)
 }
img{
    grid-row: 1/-1;
    grid-column: 1/2;
    z-index: 1;
    width: 100%;
}